body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.my_form {
  margin: 100px;
  border-style: solid;
  border-color: #E6FAFF;
  border-width: 14px;
  width: 1380px;
  min-width: 800px;
  background-color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  height: 83px;
}

.field {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 12px 8px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #808080;
  border-style: solid;
  border-width: .25px;
  border-color: #E0E0E0;
}

input[type=text] {
  width: 100%;
  padding-left: -10px;
  margin: 12px 0px;
  box-sizing: border-box;
  border-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #C0C0C0;
  border: 1;
}

select {
  width: 98%;
  margin: 8px 0;
  padding: 8px 0px;
  border-style: none;
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  color: #808080;
}

input[type=submit] {
  width: 30%;
  height: 50%;
  background-color: #9BB665;
  color: white;
  text-shadow: .5px .5px black;
  margin: 18px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #9BB665;
}
